<!-- ====================subintro==================== -->
<section id="subintro">
<div class="jumbotron subhead" id="overview">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="centered">
					<h3>Sign up</h3>
					<p>
						Llena el formulario para registrarte.
					</p>

				</div>
			</div>
		</div>
	</div>
</div>
</section>
<center><div style="width:500px">


<%= simple_form_for(resource, :as => resource_name, :url => newUser_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  	<%= f.input :name %>
	<%= f.input :email %>
  	<%= f.input :password %>
  	<%= f.input :rfc %>
  	<%= f.input :password_confirmation%>
  	<%= f.input :company%>
  	<%= f.input :role%>

</div>
  <div><%= f.submit "Sign up", :class => "btn btn-primary"%></div>
<% end %>

<%= render "devise/shared/links" %>
</center>