<tr>
    <td colspan="3"><b>Conceptos de la factura</b></td>
         

</tr>
<tr>
	<td><%=  f.input :cantidad, :label => "Cantidad"  %></td>
	<td><%=  f.input :producto, :label => "Producto"  %></td>
		<td><%=  f.input :unidad, :label => "Unidad"  %></td>

	<td><%=  f.input :precio_unitario, :label => "Precio unitario"  %></td>

</tr>

<tr>
		<td><%=  f.input :importe, :label => "Importe"  %></td>
	<td><%=  f.input :impuesto, :label => "Impuesto"  %></td>
		<td><%=  f.input :total, :label => "Total"  %></td>



