	<%= simple_form_for(@factura, :html => {:class => "form-horizontal"}) do |f| %>
		<%= f.error_notification %>
		<div style="width:500px">
			<div class="form-inputs" style="widtd:500px">
			  	<%=  f.input :nombre_emisor, :label => "Nombre del emisor", :readonly => true,  :input_html => { :value => @nombreEmpresa.first.name } %>
			   	<%=  f.input :rfc_em, :label => "RFC del emisor" , :readonly => true,  :input_html => { :value => @nombreEmpresa.first.rfc }%>
			   	<%=  f.input :nombre_receptor, :label => "Nombre del receptor" %>
			   	<%=  f.input :rfc_re, :label => "RFC del receptor" %>

			  	<%=  f.input :serie, :label => "Serie" %>
			   	<%=  f.input :folio, :label => "Folio" %>
			   	<%=  f.input :formaDePago, :label => "Forma de pago" %>
			  	<%=  f.input :metodoDePago, :label => "Método de pago" %>
			   	<%=  f.input :numCtaPago, :label => "Número de Cuenta" %>
			   	<%=  f.input :lugarExpedicion, :label => "Lugar de expedición" %>
			   	<%=  f.input :anoAprobacion, :label => "Año de aprobación"  %>
			   	<%=  f.input :noCertificado, :label => "Numero de certificado"  %>
			   	
			   	<%=  f.input :total, :label => "total" %>
				<%=  f.input :subTotal, :label => "subTotal" %>
				<%=  f.input :usuario_id, :label => "Id de usuario", :as => :hidden,  :input_html => { :value => current_usuario.id } %>
				<%=  f.input :fechaExpedicion, :label => "Fecha y hora de expedicion", :widtd => "10px" %>
			</div>
			</div>
			<div >
			<table class="table" style="width:500px">

				  <%= f.simple_fields_for :concepto do |builder| %>
					  <%= render 'concepto_fields', :f => builder %>
				  <% end %>
			</table>
					<p><%= link_to_add_fields "Agregar concepto", f, :concepto %></p>
					</div>
		<div class="form-actions">
			<%= f.button :submit %>
		</div>
	<% end %>
