<% facturas_array = Array.new(@facturas.size) %>

<% @facturas.each_with_index {|id, index| %>
    <% facturas_array += [id[:total]]    %>
<% } %>

<% facturas_array = [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]%>

<script type="text/javascript">
$(function () {
        $('#container1').highcharts({
            chart: {
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: 'Ventas por mes',
                x: -20 //center
            },
            subtitle: {
                text: 'Source: WorldClimate.com',
                x: -20
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'Temperature (°C)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '°C'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
                name: 'Ventas por mes',
                data: <%= facturas_array %>
            }]
        });
    });
    

    </script>
<script type="text/javascript">
  
  $(function () { 
    $('#container2').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Fruit Consumption'
        },
        xAxis: {
            categories: ['Apples', 'Bananas', 'Oranges']
        },
        yAxis: {
            title: {
                text: 'Fruit eaten'
            }
        },
        series: [{
            name: 'Jane',
            data: [1, 0, 4]
        }, {
            name: 'John',
            data: [5, 7, 3]
        }]
    });})
</script>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('#facturas_charts').highcharts({
      chart: {
        type: "bar"
      },
      title: {
        text: "Orders by Day"
      },
      xAxis: {
        type: "datetime"
      },
      yAxis: {
        title: {
          text: "Dollars"
        }
      },
      series: [{

        data: [1,2,5,7,3]
      }]
    });
  });
</script>


<div class="container">
<h1>Listing facturas</h1>

<center>
<div class="row-fluid">
    <div class="span4"></div>
    <div class="span8">       
    </div>
</div>
    <div class="row">
            <div class="span3 bs-docs-sidebar">
                <ul class="nav nav-list bs-docs-sidenav">
                    <li><a class="submenu" href="#grafica1"><i class="icon-chevron-right"></i> General</a></li>
                    <li><a class="submenu" href="#grafica2"><i class="icon-chevron-right"></i> File structure</a></li>
                    <li><a class="submenu" href="#grafica3"><i class="icon-chevron-right"></i> What's included</a></li>
                </ul>
            </div>
        <div class="span9">
            <!-- Download
        ================================================== -->
            <section id="grafica1" class="doc">
                <div class="page-header">
                    <h3>1. General</h3>
                </div>
                <p>
                    <div id="container1" ></div>  
                </p>
            </section>
            <!-- File structure
        ================================================== -->
            <section id="grafica2" class="doc">
                <div class="page-header">
                    <h3>2. File structure</h3>
                </div>
                <p>
                    <div id="container2" ></div>  
                </p>
            </section>
            <!-- Contents
        ================================================== -->
            <section id="grafica3" class="doc">
            <div class="page-header">
                <h3>3. What's included</h3>
            </div>
            <p>
                <div id="facturas_charts" style="height: 400px; min-width: 600px"></div>  
            </p>
            </section>
           
        </div>
    </div>



<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @facturas.each do |factura| %>
  <tr>
    <td><%= factura.nombreEmisor %></td>
    <td><%= factura.nombreReceptor %></td>
    <td><%= factura.total %></td>
    <td><%= link_to 'Show', factura %></td>
    <td><%= link_to 'Edit', edit_factura_path(factura) %></td>
    <td><%= link_to 'Destroy', factura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
</center>
</div>
<%= link_to 'New Factura', new_factura_path %>
