<% if user_signed_in? %>
	<% if can? :admin, @user %>
		<h1>Welcome admin!</h1>
	<% else %>
		<h1>Welcome <%= current_user.name%></h1>
	<% end %>
<% else %>

<div class="hero-unit">
	<h1>Welcome to Veta</h1>
	<p>
		You're found the home page for the
		<%= link_to "One Month Rails", "http://onemonthrails.com"%> 
		application.
	</p>
	<p> <%= link_to 'Sign up now!',  new_user_registration_path , :class => "btn btn-large btn-primary" %> </p>
</div>
<div id="sequence">
	<%= image_tag "bt-prev.png", :class => 'sequence-prev'%>
	<%= image_tag "bt-next.png", :class => 'sequence-next'%>

	<ul class="sequence-canvas">
		<li class="animate-in">
			<div class="info">
				<h2>Built using Sequence.js</h2>
				<p>The Responsive Slider with Advanced CSS3 Transitions</p>
			</div>
			<%= image_tag "bg-clouds.png", :class => 'sky'%>
			<%= image_tag "smartphones.png", :class => 'balloon'%>
		</li>
		<li>
			<div class="info">
				<h2>Creative Control</h2>
				<p>Create unique sliders using CSS3 transitions -- no jQuery knowledge required!</p>
			</div>
			<%= image_tag "bg-clouds.png", :class => 'sky'%>
			<%= image_tag "aeroplane.png", :class => 'aeroplane'%>

		</li>
		<li>
			<div class="info">
				<h2>Cutting Edge</h2>
				<p>Supports modern browsers, old browsers (IE7+), touch devices and responsive designs</p>
			</div>
			<%= image_tag "bg-clouds.png", :class => 'sky'%>
			<%= image_tag "kite.png", :class => 'kite'%>
		</li>
	</ul>
</div>


<% end %>