<header>
	<div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
		    <div class="container">    
		    	<%= link_to image_tag("logo.png", :class => 'brand logo'), root_path %>
			    <div class="navigation">
    				<nav>
					<ul class="nav topnav">
					    <!-- Be sure to leave the brand out there if you want it shown -->

					    <li class="dropdown active">

					    </li> 

					    <!-- Everything you want hidden at 940px or less, place within here -->
					    <li class="nav-collapse collapse">
					    	
					    	<% if user_signed_in? %>
					    		<ul class="nav pull-right">
						    		<% if can? :dashboard, @pin %>
						    			<li><%= link_to  "Dashboard", facturas_path%> </li>
						    		<% end %>

						    		<% if can? :pins, @pin %>
						    			<li><%= link_to  "Agregar Factura", new_factura_path%> </li>
						    		<% end %>
						    		<% if can? :useradmon, @pin %>
						    			<li><%= link_to  "User Management", users_path%> </li>
						    		<% end %>
					    		

						    		<li><%= link_to  "Edit profile", edit_user_registration_path%> </li>
						    		<li><%= link_to  "Log out", logout_path, :method => 'delete'%> </li>
								

							<% else %>
							<ul class="nav">
								<li><%= link_to  "About", about_path %></li>
					    	</ul >
					    	<ul class="nav pull-right">
								<li><%= link_to  "Login", new_user_session_path %> </li>
					    	</ul>
							<% end %>
					    	</ul>
				    <!-- .nav, .navbar-search, .navbar-form, etc -->
				    	</li>


				    </ul>
				    </nav>
			    </div>
		    </div>
	    </div>
    </div>
</header>