<!DOCTYPE html>
<html>
<head>
  <title>Omrails</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  		<script>
		 if (typeof jQuery == 'undefined'){
		    document.write(unescape('%3Cscript src="../../scripts/jquery-min.js" %3E%3C/script%3E'));
		 }
		</script>
	<link rel="stylesheet" href="/assets/stylesheets/sequencejs-theme.sliding-horizontal-parallax.css" type="text/css" media="screen">
	<link href="http://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet" type="text/css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<% flash.each do |name,msg| %>
			<%= content_tag(:div, msg, :class => "alert alert-#{name}") %>
		<% end %> 
		<%= yield %>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
